.container {
  width: 970px;
  margin: 0 auto;
}

.container h1 {
  text-align: center
}

.link {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.router-link-active {
  /* a hack to hide the button on the list page */
  display: none;
}